/* Стили для базовой страницы HTML*/

body {
    background: linear-gradient(134.41deg, rgba(3, 9, 29, 0.95) 13.47%, #132059 56.64%, #03091D 90.93%) fixed;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-header {
    width: 1330px;
    height: 135px;
    margin: 0 auto 51px;
}

.header-contacts {
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 10px 0 15px;
}

.header-contacts a {
    display: flex;
    align-items: center;
}

.header-contacts a:hover {
    color: #D5279A;
}

.header-contacts img {
    margin-right: 10px;
}

.header-contacts p {
    margin: 0;
}

.email {
    margin-right: 23px;
}

.header-contacts .telegram {
    margin-left: auto;
}

.main-header-nav {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.logo p {
    font-family: 'Aldrich', sans-serif;
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 0 15px;
}

.nav-list {
    display: flex;
    width: 638px;
    gap: 76px;
    list-style-type: none;
    padding: 0;
    margin: 0 82px 0 221px;
}

.main-header-nav .loupe {
    margin-right: 28px;
}

.main-header-nav .login {
    width: 89px;
    height: 40px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(91.24deg, #FFFFFF -151.39%, #CF088C 39.72%, #CF088C 60.99%, #CF088C 80.28%, #FFFFFF 231.81%);
    border-radius: 20px;
    border: none;
    padding: 0;
    margin-right: 25px;
    margin-left: 18px;
}

main {
    flex-grow: 1;
    width: 1330px;
    margin: 0 auto;
}

footer {
    background: #03091D;
    padding: 50px 0;
    margin-top: 130px;
}

.footer-container {
    width: 1330px;
    display: flex;
    gap: 134px;
    margin: 0 auto;
    height: 133px;
}

.copyrights {
    width: 232px;
}

.copyrights .logo {
    margin-left: 0;
}

.copyrights-text {
    font-size: 16px;
    margin: 26px 0 0;
}

.footer-contacts {
    width: 192px;
    font-size: 14px;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-contacts a {
    display: flex;
}

.footer-contacts a:hover {
    color: #D5279A;
}

.footer-contacts p {
    margin: 0;
}

.footer-contacts img {
    margin-right: 10px;
}

.footer-container .nav-list {
    margin: 0;
}

/* Стили для базовой страницы HTML*/

/* Стили для страницы со статьями */

.articles {
    width: 841px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0;
    margin:0;
    float: left;
}

.article {
    background: #FFFFFF;
    border-radius: 15px;
}

.article-info {
    color: #5F5F5F;
    font-size: 15px;
    display: flex;
    gap: 40px;
    margin-top: 17px;
    margin-left: 41px;
}

.article-info a {
    color: #5F5F5F;
}

.article-info p {
    margin: 0;
}

.article-content {
    color: #000000;
    width: 759px;
    display: flex;
    margin: 0 0 7px 41px;
}

.article-content-text h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.article-content-text p {
    margin: 0 0 10px;
}

.article-content img {
    width: 140px;
    height: 140px;
    border-radius: 15px;
    margin-left: 41px;
}

.article-buttons {
    width: 149px;
    display: flex;
    gap: 40px;
    margin-left: 41px;
    margin-bottom: 17px;
}

.sidebar {
    width: 240px;
    margin: 0 62px 0 0;
    position: sticky;
    top: 20px;
    float: left;
}

.categories {
    list-style-type: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding: 40px 0 40px 50px;
    font-size: 24px;
    margin: 0 0 34px;
}

.add-article {
    width: 240px;
    height: 52px;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient(91.24deg, #FFFFFF -151.39%, #CF088C 39.72%, #CF088C 60.99%, #CF088C 80.28%, #FFFFFF 231.81%);
    border: none;
    padding: 0;
}


