{% extends '..\templates\base.html' %}
{% load static %}
{% load articles_tags %}

{% block add_style %}
    <link type="text/css" href="{% static 'articles/css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    {% show_categories %}
    {% block content %}
        <ul class="articles">
            {% for article in articles %}
                <li class="article">
                    <div class="article-info">
                        <a href="{{ article.category.get_absolute_url }}" class="article-category">{{ article.category }}</a>
                        <a href='#' class="article-author">Руслан Яруллин</a>
                        <p class="article-time-create">{{ article.time_create|date:"d.m.Y" }}</p>
                    </div>
                    <a href="{{ article.get_absolute_url }}" class="article-content">
                        <div class="article-content-text">
                            <h1>{{ article.title }}</h1>
                            <p>{{ article.annotation }}</p>
                        </div>
                        {% if article.image %}
                            <img class="article-img" src="{{ article.image.url }}" alt="Article-img">
                        {% endif %}
                    </a>
                    <div class="article-buttons">
                        <a href="#"><img class="article-like-mini" src="{% static 'articles/images/article-like-mini.svg' %}" alt="Like-icon"></a>
                        <a href="#"><img class="article-comment-mini" src="{% static 'articles/images/article-comment-mini.svg' %}" alt="Comment-icon"></a>
                        <a href="#"><img class="article-bookmark-mini" src="{% static 'articles/images/article-bookmark-mini.svg' %}" alt="Bookmark-icon"></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}